h1{
    color: grey;
}
#divMoveSquare{
    display: none;
    width: 500px;
    height: 400px;
    border: 2px dashed greenyellow;
}
#moveSquare {
    /* display: block; */
    width: 55px;
    height: 55px;
    border: 3px solid #E8C48F;
    position: absolute;
}
#mouseMove{
    display: none;
    width: 400px;
    height: 300px;
    border: 2px dashed greenyellow;
}
#buttonCodeDiv{
    display: none;
}
#redOnClick{
    display: none;
    text-align: center;
    width: 100px;
    height: 100px;
    border: 2px solid rgba(99, 166, 253, 0.979);
}
#inputTextDiv{
    display: none;
    font-size: 25px;
    color:  rgb(241, 50, 226);
    /* background-color: lavender; */
}